.scrollbar-style::-webkit-scrollbar{
    height: 5px;
    background-color: rgb(54, 54, 54) !important;
}

.scrollbar-style::-webkit-scrollbar-thumb{
    background-color: #ccc !important;
    border-radius: 10px !important;
}

.scrollbar-style::-webkit-scrollbar-thumb:hover{
    background-color: #aaa !important;
}